.wrapper {
  display: flex;
  flex-direction: column;

  .first-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 60%;

    .left-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 75%;

      .title-wrapper {
        display: flex;
        align-items: center;

        .spacer {
          flex-grow: 1;
        }
      }

      .title-1,
      .title-2,
      .title-3,
      .title-4,
      .title-5 {
        margin: 0;
      }

      .details-line {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .genres {
        display: flex;
        gap: 10px;

        .genre {
          background-color: #aaa3;
          padding: 8px;
          border-radius: 5px;
        }
      }
    }

    .right-wrapper {
      .poster {
        border-radius: 5px;
        max-width: 400px;
        box-shadow: 0 0 150px 20px rgba(128, 128, 128, 0.75);
      }
    }
  }

  .cast-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    align-items: start;
    text-align: center;
    max-width: 90%;

    .cast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      width: 40%;

      .picture {
        border-radius: 50%;
        max-width: 100px;
        min-height: 150px;
      }
    }
  }

  .production-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;

    .producer-company {
      display: flex;
      align-items: center;
      gap: 10px;

      width: 45%;

      img {
        max-width: 150px;
        border-radius: 5px;
        background-color: white;
        padding: 10px;
      }
    }
  }

  .new-comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin-bottom: 30px;

    textarea {
      resize: none;
      width: 70%;
      height: 100px;
      font-size: 1.025em;
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 10px;
    }

    button {
      font-size: 1.05em;
    }
  }

  .comments-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .comment {
      display: flex;
      flex-direction: column;
      background-color: #818181;
      width: 60%;
      border-radius: 5px;
    }

    .comment-header {
      display: flex;
      justify-content: space-between;
      background-color: #575757;
      padding: 10px;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .comment-body {
      padding: 10px;
      border-radius: 5px;
    }
  }
}
