.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.search input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: large;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
